<%= form_with(model: log, local: true) do |form| %>
  <% if log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :received %>
    <%= form.text_field :received, autofocus: true, size: 60 %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, autofocus: true, size: 60 %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, autofocus: true, size: 60 %>
  </div>

  <div class="field">
    <%= form.label :request_json %>
    <%= form.text_area :request_json, cols: 100, rows: 25 %>
  </div>

  <div class="actions">
  <% if current_account %>  <%= form.submit %> <% end %>
  </div>
<% end %>
